.blog-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "tags"
    "articles";
  max-width: 992px;
  width: 100%;
  .articles {
    grid-area: articles;
    display: grid;
    grid-gap: 40px;
    a,
    a:link,
    a:visited,
    a:active {
      border: 1px dashed transparent;
      text-decoration: none;
      @media (min-width: 992px) {
        &:hover {
          border: 1px dashed #ccc;
        }
      }
    }
    article {
      background-color: white;
      box-sizing: content-box;
      color: black;
      display: block;
      padding: 20px;
      @media (min-width: 992px) {
        padding: 40px;
      }
      header {
        h2 {
          margin: 0;
        }
      }
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        .stats {
          margin-left: 0px;
        }
      }
    }
  }
}

.blog {
  .stats {
    span {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
    }
  }
}
