.blogs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "tags"
    "articles";
  max-width: 992px;
  width: 100%;
  .articles {
    grid-area: articles;
    display: grid;
    grid-gap: 20px;
    a,
    a:link,
    a:visited,
    a:active {
      border: 1px dashed #ccc;
      box-sizing: content-box;
      color: black;
      display: block;
      text-decoration: none;
      @media (min-width: 992px) {
        border: 1px dashed transparent;
        &:hover {
          border: 1px dashed #ccc;
        }
      }
    }
    article {
      header {
        h2 {
          margin: 0;
        }
      }
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        .stats {
          margin-left: 0px;
        }
      }
    }
  }
}

.stats {
  span {
    font-weight: 600;
  }
}
