.books {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 30px;
  li {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    place-items: center;
    img {
      border: 1px solid #ccc;
      height: 200px;
      margin: 5px 0;
      object-fit: contain;
    }
    h2,
    h3 {
      text-align: center;
    }
    h2 {
      font-size: 16px;
      min-height: 60px;
    }
    h3 {
      font-size: 14px;
      color: slategray;
    }
    a {
      border: 1px solid black;
      max-width: 200px;
      padding: 10px;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;
      width: 100%;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
