@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }

  header,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  a:link,
  a:visited,
  a:active {
    color: white;
  }

  nav {
    background-color: black;
    span.home,
    a,
    a:link,
    a:visited,
    a:active {
      color: white;
    }
    button[aria-expanded="false"],
    button[aria-expanded="true"] {
      &:before,
      &:after {
        background: white;
      }
    }
    span.home a:active,
    span.home a:hover,
    ul li a.active,
    ul li a:hover {
      color: black;
      background: white;
    }
    border-color: #222;
  }

  .cards {
    .card {
      background-color: #222;
      &:hover {
        border-color: #444;
      }
      p:before {
        background: #444;
      }
    }
  }

  .tags {
    li {
      a {
        color: white;
        &:hover,
        &.active {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .blogs .articles {
    article {
      background-color: #222;
    }
    a,
    a:link,
    a:visited,
    a:active {
      &:hover {
        border-color: #444;
      }
    }
  }

  .breadcrumbs {
    li {
      a,
      a:link,
      a:visited,
      a:active {
        color: white;
      }
    }
  }
  .stats {
    color: white;
  }

  .projects {
    li {
      background-color: #222;
      .buttons {
        a,
        a:link,
        a:visited,
        a:active {
          border-color: white;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .books {
    li {
      background-color: #222;
      a {
        border-color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .courses {
    li {
      background-color: #222;
      h2 span {
        color: black;
      }
      .button {
        border-color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
