@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }

  header,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  a:link,
  a:visited,
  a:active {
    color: white;
  }

  nav {
    background-color: black;
    span.home,
    a,
    a:link,
    a:visited,
    a:active {
      color: white;
    }
    button[aria-expanded="false"],
    button[aria-expanded="true"] {
      &:before,
      &:after {
        background: white;
      }
    }
    span.home a:active,
    span.home a:hover,
    ul li a.active,
    ul li a:hover {
      color: black;
      background: white;
    }
    border-color: #222;
  }

  .cards .card {
    border-color: #666;
    @media (min-width: 992px) {
      border-color: transparent;
    }
    &:hover {
      border: 1px dashed #666;
    }
    p:before {
      background: #444;
    }
  }

  .tags {
    li {
      a {
        color: white;
        &:hover,
        &.active {
          background-color: white;
          color: black;
        }
      }
    }

    .articles {
      a,
      a:link,
      a:visited,
      a:active {
        border-color: #666;
        @media (min-width: 992px) {
          border-color: transparent;
        }
        &:hover {
          border-color: #666;
        }
      }
    }
  }

  .breadcrumbs {
    li {
      a,
      a:link,
      a:visited,
      a:active {
        color: white;
      }
    }
  }
  .stats {
    color: white;
  }

  .projects {
    li {
      .buttons {
        a,
        a:link,
        a:visited,
        a:active {
          border-color: white;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .books {
    li {
      border-color: #666;
      a {
        border-color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .courses {
    h2 span {
      color: black;
    }
    .button {
      border-color: white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
