footer {
  font-weight: 400;
  padding: 30px 0;
  max-width: 992px;
  width: 100%;
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: underline;
  }
  @media (max-width: 700px) {
    text-align: center;
  }
}
