.intro {
  margin: 30px 0;
  grid-area: intro;
  @media (min-width: 992px) {
    margin: 50px 0;
  }
  span,
  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    @media (min-width: 992px) {
      font-size: 48px;
    }
  }
}

.cards {
  display: grid;
  grid-area: cards;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  @media (min-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  a,
  a:link,
  a:visited,
  a:active {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  .card {
    background-color: white;
    border: 1px dashed transparent;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    @media (min-width: 992px) {
      height: 100%;
      min-height: 200px;
      &:hover {
        border: 1px dashed #ccc;
      }
    }
    h2 {
      font-size: 21px;
      font-weight: 500;
      margin: 0;
      text-transform: capitalize;
    }
    p {
      font-size: 16px;
      margin-top: 40px;
      position: relative;
      &:before {
        background-color: black;
        content: "";
        height: 1px;
        position: absolute;
        top: -20px;
        width: 100%;
      }
    }
  }
}
