.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin-top: 30px;
  li {
    background-color: white;
    display: grid;
    grid-template-areas:
      "title"
      "summary"
      "buttons";
    padding: 20px;
    h2 {
      grid-area: title;
      margin: 0;
      padding: 0;
    }
    p {
      color: slategray;
      grid-area: summary;
      margin-bottom: 0;
    }
    .buttons {
      grid-area: buttons;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
      place-items: center;
      a,
      a:link,
      a:visited,
      a:active {
        border: 1px solid black;
        padding: 10px 20px;
        text-align: center;
        width: 100%;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    @media (min-width: 992px) {
      grid-template-columns: 1fr 250px;
      grid-gap: 20px 40px;
      grid-template-areas:
        "title buttons"
        "summary buttons";
      padding: 20px 40px;
    }
  }
}
