* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

body {
  background-color: #efefef;
  display: grid;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 30px;
  place-items: center;
  @media (min-width: 992px) {
    padding: 0 100px;
  }
}

nav {
  align-items: center;
  background-color: #efefef;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "togglebutton logo"
    "navigation navigation";
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  button {
    background: none;
    border: none;
    font-size: 32px;
    margin-right: auto;
    padding: 0;
    width: max-content;
  }
  ul {
    display: grid;
    grid-gap: 20px;
    grid-area: navigation;
    overflow: hidden;
    max-height: 0;
    margin: 0;
    li {
      text-align: center;
    }
    a,
    a:link,
    a:active,
    a:visited {
      font-size: 18px;
      padding: 10px 15px;
    }
    a:hover,
    a.active {
      background-color: black;
      color: white;
    }
  }
  span.home {
    font-size: 24px;
    font-weight: 700;
    margin-left: auto;
    a,
    a:link,
    a:active,
    a:visited {
      padding: 10px;
    }
    a:hover {
      background-color: black;
      color: white;
    }
  }
  [aria-expanded="true"] ~ ul {
    max-height: initial;
    padding: 10px 0;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    position: sticky;
    top: 0;
    button {
      display: none;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      max-height: initial;
      opacity: 1;
      a,
      a:link,
      a:active,
      a:visited {
        display: inline-block;
        margin-left: 20px;
        padding: 10px 15px;
      }
    }
    span.home {
      margin-left: initial;
    }
  }
}

.container {
  max-width: 992px;
  width: 100%;
}

.intro {
  margin: 50px 0;
  grid-area: intro;
  span,
  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    @media (min-width: 992px) {
      font-size: 48px;
    }
  }
}

.cards {
  display: grid;
  grid-area: cards;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  @media (min-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  a,
  a:link,
  a:visited,
  a:active {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  .card {
    background-color: white;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    padding: 30px;
    @media (min-width: 992px) {
      height: 100%;
      min-height: 250px;
    }
    &:hover {
      border: 1px solid black;
    }
    h2 {
      font-size: 21px;
      font-weight: 500;
      margin: 0;
      text-transform: capitalize;
    }
    p {
      font-size: 16px;
      margin-top: 40px;
      position: relative;
      &:before {
        background-color: black;
        content: "";
        height: 1px;
        position: absolute;
        top: -20px;
        width: 100%;
      }
    }
  }
}

.blogs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "tags"
    "articles";
  max-width: 992px;
  width: 100%;
  @media (min-width: 992px) {
    grid-gap: 20px;
    grid-template-areas: "tags articles";
    grid-template-columns: 200px 1fr;
  }
  .tags {
    grid-area: tags;
    width: 100%;
    h2 {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
    button {
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      font-size: 16px;
      height: 44px;
      width: 100%;
      &:active {
        color: black;
      }
    }
    [aria-expanded="true"] ~ ul {
      display: grid;
      max-height: 100%;
      transform: rotateX(0);
    }
    @media (min-width: 992px) {
      padding: 5px 20px;
      button {
        display: none;
      }
    }
    ul {
      display: grid;
      grid-gap: 5px;
      list-style: none;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      @media (min-width: 992px) {
        max-height: 100%;
      }
      li {
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 48px;
        a,
        a:link,
        a:visited,
        a:active {
          color: black;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        span {
          background-color: black;
          color: white;
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
  .articles {
    grid-area: articles;
    display: grid;
    grid-gap: 20px;
    a,
    a:link,
    a:visited,
    a:active {
      border: 1px solid transparent;
      background-color: white;
      color: black;
      display: block;
      padding: 20px 30px;
      text-decoration: none;
    }
    a:hover {
      border: 1px solid black;
    }
    article {
      header {
        h2 {
          margin: 0;
        }
      }
      p,
      footer > * {
        font-size: 16px;
      }
      footer {
        display: flex;
        padding: 0;
        .stats {
          margin-left: 0px;
        }
        @media (min-width: 992px) {
          justify-content: space-between;
        }
      }
    }
  }
}

.blog {
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    a,
    a:link,
    a:visited,
    a:active {
      background: none;
      border: none;
      color: black;
      font-size: 14px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    li {
      margin-right: 10px;
    }
  }
  .stats {
    span {
      font-weight: 600;
    }
  }
  p {
    font-size: 18px;
  }
}

.pagination {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  list-style: none;
  padding: 0;
  .page-item {
    a,
    a:link,
    a:visited,
    a:active {
      text-align: center;
      padding: 5px 0;
    }
  }
}

footer {
  font-size: 16px;
  font-weight: 400;
  padding: 60px 0;
  max-width: 992px;
  width: 100%;
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: underline;
  }
}
