* {
  box-sizing: border-box;
  &::selection {
    background: orangered;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

body {
  background-color: #efefef;
  display: grid;
  line-height: 1.75;
  margin: 0;
  padding: 1.5rem;
  place-items: center;
}

.container {
  margin: 0;
  max-width: 800px;
  width: 100%;
}

.disclaimer {
  font-size: 12px;
  margin: 30px 0;
}

.about p {
  color: slategray;
}

@import "nav.scss";
@import "home.scss";
@import "social.scss";
@import "tags.scss";
@import "projects.scss";
@import "blog.scss";
@import "courses.scss";
@import "books.scss";
@import "breadcrums.scss";
@import "pagination.scss";
@import "footer.scss";
@import "uses.scss";
@import "darkmode.scss";
