* {
  box-sizing: border-box;
  &::selection {
    background: orangered;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

body {
  display: grid;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 30px;
  place-items: center;
  @media (min-width: 992px) {
    padding: 0 100px;
  }
}

.container {
  max-width: 992px;
  padding: 0 10px;
  width: 100%;
}

@import "nav.scss";
@import "home.scss";
@import "social.scss";
@import "tags.scss";
@import "projects.scss";
@import "blog.scss";
@import "courses.scss";
@import "books.scss";
@import "breadcrums.scss";
@import "pagination.scss";
@import "footer.scss";
@import "darkmode.scss";
