{{ define "content" }}
<div class="blogs">
  <div class="tags">
    <h2>Topics</h2>
    <!-- <button aria-controls="menu" aria-expanded="false">Select Topic</button> -->
    <ul id="menu">
      <li><a href="/blog/">all</a><span>{{ len (where .Site.RegularPages "Section" "blog") }}</span></li>
      {{ range .Site.Taxonomies.tags }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span>{{ .Count }}</span></li>
      {{ end }}
    </ul>
  </div>
  <div class="articles">
    {{ range (.Paginator 5).Pages }}
    <a href="{{.Permalink}}">
      {{ .Render "summary"}}
    </a>
    {{ end }} {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
