<nav>
  <span class="home"><a href="/">DG</a></span>
  <button aria-controls="menu" aria-expanded="false"></button>
  <ul id="menu">
    {{ $current := . }}
    {{ range .Site.Menus.mainmenu }}
    {{ $topLevel := replace .URL "/" "" }}
    <li>
      <a class="{{ if eq $current.RelPermalink .URL | or (eq $current.Type $topLevel) | or (and (eq .Name "Blog") (in (slice "taxonomy" "taxonomyTerm") $current.Kind)) }} active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{.Name}}</a>
    </li>
    {{ end }}
  </ul>
</nav>
