{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "content" }}

<div class="container">
  <div class="intro">
    <span>Hi! 👋🏽 </span>
    <span>I'm Dhanish</span>
    <h1>a Developer based in Lisbon Portugal 🇵🇹</h1>
  </div>

  {{ partial "social" . }}

  <div class="cards">
    {{ range .Site.Menus.mainmenu }}
    <a href="{{ .URL }}">
      <div class="card">
        <header>
          <h2>{{ .Name }}</h2>
        </header>
        <p>{{ .Title }}</p>
      </div>
    </a>
    {{ end }}
  </div>
</div>

{{ end }}
