{{ define "title" }} {{ .Site.Title }} {{ end }} {{ define "content" }}

<div class="container">
  <div class="intro">
    <span>Dhanish Gajjar</span>
    <h1>Lisbon based, remote full stack JavaScript Developer</h1>
  </div>

  {{ partial "social" . }}

  <div class="cards">
    {{ range .Site.Menus.mainmenu }}
    <a href="{{ .URL }}">
      <div class="card">
        <header>
          <h2>{{ .Name }}</h2>
        </header>
        <p>{{ .Title }}</p>
      </div>
    </a>
    {{ end }}
  </div>
</div>

{{ end }}