{{ define "content" }} {{ partial "navigation" . }}
<div class="container">
  <h2>{{ .Page.Title }}</h2>
  {{ $books := .Site.Data.books }}
  <p>
    I have read a lot of books. But these {{ len $books }} books are my favourites and which I would like to recommend.
  </p>

  <ul class="books">
    {{ range sort $books "title" "asc" }}
    <li>
      <h3>{{ .title }}</h3>
      <img src="/thumbnails/{{ .title | urlize }}.webp" alt="{{ .title }}" />
      <h4>by {{ .author }}</h4>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}