{{ define "content" }} {{ partial "navigation" . }}
<div class="container">
  {{ $books := getJSON "https://goodreads-api.now.sh" }}
  <ul class="books">
    {{ range $books }}
    <li>
      <img src="{{ index .image_url 0 }}" alt="" />
      {{ $slicedTitle := index .title 0 }}
      <h4>{{ $slicedTitle }}</h4>
      {{ $authors := index .authors 0 }} {{ range $authors }} {{ range . }}
      <h5>by: {{ index .name 0 }}</h5>
      {{ end }} {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
