{{ define "content" }} {{ partial "navigation" . }}
<div class="container">
  {{ $books := getJSON "https://goodreads-api.now.sh" }}
  <h1>{{ .Page.Title }}</h1>
  <p>
    I have read a lot of books. But these {{ len $books }} books are my favourites and which I would like to recommend.
  </p>

  <ul class="books">
    {{ range sort $books }} {{ $slicedTitle := index (split .title ":") 0 }}
    <li>
      <h2>{{ $slicedTitle }}</h2>
      <img src="{{ .thumbnail }}" alt="{{ .title }}" />
      <h3>by {{ .author }}</h3>
      {{/*  <a href="http://www.bookdepository.com/search?searchTerm={{ $slicedTitle }}&a_aid=tripprblog" target="_blank"
        >Buy</a
      >  */}}
    </li>
    {{ end }}
  </ul>

  {{ partial "disclaimer" . }}
</div>
{{ end }}
